<ion-view view-title="Login" name="login-view">
  <ion-content class="padding">
    <!-- Content: Start -->

    <div class="list list-inset">
      <label class="item item-input">
        <input type="text" ng-model="vm.credentials.email" placeholder="Email">  <!-- ng-model="data.username"-->
      </label>
      <label class="item item-input">
        <input type="password" ng-model="vm.credentials.password" placeholder="Password"> <!-- ng-model="data.password" -->
      </label>
    </div>

    <button class="button button-block button-positive" ng-click="vm.login()">
      Submit
    </button>

    <button class="button button-block button-stable" ui-sref="signup">
      Sign Up
    </button>

    <!-- Content: End -->
  </ion-content>
</ion-view>
