<ion-view view-title="Getting Ready">
  <ion-content class="padding">
    <!-- Content: Start -->

    <h4>Pause &amp; Wait</h4>
    <p>Stop. Do not text, phone, talk or write. This can be an opportunity. Become curious. Discover!</p>
    <br>
    <h4>Observe &amp; Watch</h4>
    <p>Observe the sensations. Where is the feeling in your body? What does it feel like? What colour is it? Is it changing? Watch it change.</p>
    <br>
    <h4>90 Seconds</h4>
    <p>It has been found that 90 seconds is all you need to settle anxieties and begin to feel peaceful.</p>
    <br>

    <a class="button button-block button-positive" ui-sref="timer">
      Begin My 90 Seconds
    </a>
    <a class="button button-block button-stable" ui-sref="menu">
      Back to Menu
    </a>

    <!-- Content: End -->
  </ion-content>
</ion-view>
