'use strict';
describe('myApp', function() {


  beforeEach(angular.mock.module('conversations'));

  var $controller;

  beforeEach(angular.mock.inject(function(_$controller_) {
    $controller = _$controller_;
  }));

  describe('authentication controller', function() {
      /*-----SPECS-------*/
    it('should have a AuthController controller', function() {
      //expect(main.AuthController).toBeDefined();
      expect(main.AuthController).toBeDefined();
    });
  });

  it('ensure valid email addresses pass validation', function() {});
  it('ensure submitting form changes path', function() { });

});
