/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:
*/
$light: #fff !default;
$stable: #f8f8f8 !default;
$positive: #4a87ee !default;
$calm: #43cee6 !default;
$balanced: #66cc33 !default;
$energized: #f0b840 !default;
$assertive: #ef4e3a !default;
$royal: #8a6de9 !default;
$dark: #444 !default;
// The path for our ionicons font files, relative to the built & temporary main.css
$ionicons-font-path: "../assets/fonts" !default;
// Include all of Ionic
@import "../../bower_components/ionic/scss/ionic";

ion-content {
  background-color: #f9fcff;
}

.button-stable {
  border-color: darken($stable, 15%) !important;
}

.row .button {
  margin: 0;
}

.countdown {
  text-align: center;
  font-size: 100px;
  padding: 30px 0 10px;
}

.list .item-stable.complete {
  background-color: lighten(green, 65%);
}

.item-accordian {
  line-height: 38px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.9s all linear;
  margin: 1px -16px 0;
  border: none;
}

.list .item-accordion.ng-hide {
  line-height: 0;
}

.list .item-accordion.ng-hide-add,
.list .item-accordion.ng-hide-remove {
  display: block !important;
}

.css-form input,
.css-form textarea {
  margin-left: -7px;
  &.ng-invalid.ng-pristine {
    border-bottom: 2px dashed darken(yellow, 5%);
  }
  &.ng-empty.ng-touched {
    border-color: darken(#FA787E, 30%);
  }
}

.css-form input

.css-form input

.loading-slide {
  height: 1px;
  width: 0;
  margin: 10px 0;
  background-color: $balanced;
}

// RAINBOW

$size: 90%;
$lines: 19;
$line-thickness: 5px;

.rainbow {
  height: 180px;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.rainbow .dot {
  background-color: #D792FF;
  border-radius: 100%;
  bottom: 0;
  height: $line-thickness * 2;
  left: 50%;
  position: absolute;
  transform: translate(-50%, 50%);
  width: $line-thickness * 2;
}

.rainbow .line {
  border-radius: 100%;
  border-style: solid;
  border-width: $line-thickness;
  bottom: 0;
  position: absolute;
  left: 50%;
  -webkit-animation-play-state: paused;
}

.line-1 { border-color: #C089FF #C089FF transparent transparent; }
.line-2 { border-color: #9684E8 #9684E8 transparent transparent; }
.line-3 { border-color: #9DA7FF #9DA7FF transparent transparent; }
.line-4 { border-color: #85A4FF #85A4FF transparent transparent; }
.line-5 { border-color: #89D5FF #89D5FF transparent transparent; }
.line-6 { border-color: #8EE6FF #8EE6FF transparent transparent; }
.line-7 { border-color: #7EFFE9 #7EFFE9 transparent transparent; }
.line-8 { border-color: #8EE6FF #8EE6FF transparent transparent; }
.line-9 { border-color: #89D5FF #89D5FF transparent transparent; }
.line-10 { border-color: #7EA5E8 #7EA5E8 transparent transparent; }
.line-11 { border-color: #9DA7FF #9DA7FF transparent transparent; }
.line-12 { border-color: #9684E8 #9684E8 transparent transparent; }
.line-13 { border-color: #B184E8 #B184E8 transparent transparent; }
.line-14 { border-color: #D792FF #D792FF transparent transparent; }
.line-15 { border-color: #B184E8 #B184E8 transparent transparent; }
.line-16 { border-color: #9684E8 #9684E8 transparent transparent; }
.line-17 { border-color: #9DA7FF #9DA7FF transparent transparent; }
.line-18 { border-color: #7EA5E8 #7EA5E8 transparent transparent; }
.line-19 { border-color: #89D5FF #89D5FF transparent transparent; }

@for $i from 1 through $lines {
  $radius: ($i / $lines) * $size;
  $delay: $i * -3s;

  .line-#{$i} {
    animation: rotate 60s ease-in-out $delay infinite;
    padding-top: $radius;
    width: $radius * 1.05;
  }
}

@keyframes rotate {
  0% { transform: translate(-50%, 50%) rotate(-45deg); }
  50% { transform: translate(-50%, 50%) rotate(-225deg); }
  100% { transform: translate(-50%, 50%) rotate(-45deg); }
}
