<ion-view view-title="main module">
  <ion-content class="padding">
    <!-- Content: Start -->

    <ion-list>
      <ion-item class="item item-divider">
        This is your authentication template!
      </ion-item>
      <ion-item class="item item-divider">
        This is your authentication template!
      </ion-item>
      <ion-item class="item item-divider">
        This is your authentication template!
      </ion-item>
    </ion-list>

    <button class="button button-block button-positive">
      Block Button
    </button>

    <!-- Content: End -->
  </ion-content>
</ion-view>
