<ion-view view-title="Menu">
  <ion-content>
    <!-- Content: Start -->

    <div class="row">
      <div class="col">
        <a class="button button-block button-calm" ui-sref="venting">
          <span class="icon ion-chatbubbles"></span>
          <br>
          Vent Thoughts
        </a>
      </div>
      <div class="col">
        <a class="button button-block button-calm" ui-sref="timer-info">
          <span class="icon ion-clock"></span>
          <br>
          Cool Down
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <a class="button button-block button-calm" ui-sref="prepare">
          <span class="icon ion-clipboard"></span>
          <br>
          Break It Down
        </a>
      </div>
      <div class="col">
        <a class="button button-block button-calm" ui-sref="reframe">
          <span class="icon ion-thumbsup"></span>
          <br>
          Say It Better
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <a class="button button-block button-positive" ui-sref="reflection.venting">
          Reflect
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <a class="button button-block button-stable" ng-click="vm.logOut()">
          Logout
        </a>
      </div>
      <div class="col">
        <a class="button button-block button-stable" ui-sref="about">
          About
        </a>
      </div>
    </div>

    <!-- Content: End -->
  </ion-content>
</ion-view>
