<ion-view view-title="Menu">
  <ion-content class="padding">
    <!-- Content: Start -->

    <a class="button button-block button-calm" ui-sref="venting">
      Vent Your Feels
    </a>
    <a class="button button-block button-calm" ui-sref="timer">
      Take A Chill Pill
    </a>
    <a class="button button-block button-calm" ui-sref="prepare">
      Break It Down
    </a>
    <a class="button button-block button-calm" ui-sref="reframe">
      Say It Better
    </a>
    <a class="button button-block button-stable" ng-click="vm.logOut()">
      Logout
    </a>

    <!-- Content: End -->
  </ion-content>
</ion-view>
