<ion-view view-title="Prepare">
  <ion-content class="padding">
    <!-- Content: Start -->

    <ion-list>
      <ion-item class="item item-divider">
        This is your authentication template!
      </ion-item>
      <ion-item class="item item-divider">
        This is your authentication template!
      </ion-item>
      <ion-item class="item item-divider">
        This is your authentication template!
      </ion-item>
    </ion-list>

    <a class="button button-block button-positive" ui-sref="menu">
      Back to Menu
    </a>

    <!-- Content: End -->
  </ion-content>
</ion-view>
