<ion-view view-title="Prepare">
  <ion-content class="padding">
    <!-- Content: Start -->

    <ion-list>
      <div ng-repeat="listItem in vm.listItems">
        <ion-item class="item-stable"
                    ng-click="vm.toggleListItem(listItem)"
                    ng-class="{active: vm.isListItemShown(listItem), complete: vm.isItemComplete(listItem)}">
                    <!-- <i class="icon" ng-class="vm.isGroupShown(listItem) ? 'ion-minus' : 'ion-plus'"></i>-->
        {{listItem.stepName}}
        </ion-item>


      <div ng-show="vm.isListItemShown(listItem)">

        <ion-item class="item-accordian">
          <form name="form" class="css-form" novalidate>
            <ion-item class ='item-text-wrap'>{{listItem.contents.input1label}}</ion-item>
            <label class="item item-input">
              <input type="text" ng-model=listItem.contents.input1 required></label>
            <ion-item class ='item-text-wrap'>{{listItem.contents.input2label}}</ion-item>
            <label class="item item-input">
              <input type="text"ng-model=listItem.contents.input2 required></label>
            <ion-item class ='item-text-wrap'>{{listItem.contents.explanation}}</ion-item>
          </label>
        </ion-item>
      </div>
      </div>
    </ion-list>

    <a class="button button-block button-positive" ui-sref="menu">
      Back to Menu
    </a>

    <a class="button button-block button-positive" ui-sref="reflection">
      Submit
    </a>

    <!-- Content: End -->
  </ion-content>
</ion-view>
