<ion-view view-title="Reflection">
  <ion-content class="padding-horizontal">

    <div class="card" ng-if="!vm.reframes.length">
      <div class="item item-text-wrap">
        No reframed information saved yet.
      </div>
    </div>

    <div class="list card" ng-repeat="reframe in vm.reframes">
      <div class="item">
        <p>{{reframe.text}}</p>
      </div>
      <div class="item">
        <p>{{reframe.createdAt | date:'medium'}}</p>
      </div>
    </div>

  </ion-content>
  <ion-footer-bar class="bar-stable" ui-sref="menu">
    <div class="title">Back to Menu</div>
  </ion-footer-bar>
</ion-view>
