<ion-view view-title="Timer">
  <ion-content class="padding">
    <!-- Content: Start -->

    <h2 class="countdown">
      {{ vm.count }}
    </h2>

    <button class="button button-block button-royal" ng-click="vm.beginCountdown()">
      Start
    </button>
    <button class="button button-block button-royal" ng-click="vm.stopCountdown()">
      Pause
    </button>
    <button class="button button-block button-royal" ng-click="vm.resetCountdown()">
      Reset
    </button>
    <a class="button button-block button-positive" ui-sref="menu">
      Back to Menu
    </a>

    <!-- Content: End -->
  </ion-content>
</ion-view>
