<ion-view view-title="Venting">
  <ion-content class="padding">
    <!-- Content: Start -->

    <h4>Say what you want to say...</h4>

    <div class="list list-inset">
      <label class="item item-input">
        <textarea placeholder="Message" rows="10" ng-model="vm.text"></textarea>
      </label>
    </div>

    <a class="button button-block button-positive" ng-click="vm.create()">
      Submit
    </a>

    <a class="button button-block button-stable" ui-sref="menu">
      Back to Menu
    </a>

    <!-- Content: End -->
  </ion-content>
</ion-view>
